@inherits LayoutComponentBase
@inject IJSRuntime JS

<MudThemeProvider IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<CascadingValue Value="_isDarkMode" Name="IsDarkMode">
    <CascadingValue Value="EventCallback.Factory.Create(this, ToggleDarkMode)" Name="ToggleDarkMode">
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </CascadingValue>
</CascadingValue>

@code {
    private bool _isDarkMode = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await JS.InvokeAsync<bool>("getSystemDarkMode");
            StateHasChanged();
        }
    }

    private async Task ToggleDarkMode()
    {
        _isDarkMode = !_isDarkMode;
        await JS.InvokeVoidAsync("setDarkMode", _isDarkMode);
    }
}
