<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Vanadium Note</a>
        <MudIconButton Icon="@(IsDarkMode ? Icons.Material.Filled.LightMode : Icons.Material.Filled.DarkMode)"
                       Color="Color.Inherit"
                       OnClick="@(() => ToggleDarkMode.InvokeAsync())"
                       Class="ms-auto me-1" />
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Notes
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [CascadingParameter(Name = "IsDarkMode")] public bool IsDarkMode { get; set; }
    [CascadingParameter(Name = "ToggleDarkMode")] public EventCallback ToggleDarkMode { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
